<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" href="primer-css/css/primer.css">
    <link rel="stylesheet" href="primer-markdown/dist/user-content.min.css">
    <style>
      .markdown-body { padding: 20px; border: 1px solid #ccc; margin-top: 20px; }
    </style>
  </head>
  <body>
    <div class="container">
      <%= yield %>
    </div>
  </body>
</html>
